.m-t-12 {
  margin-top: 12px;
}
.m-t-24 {
  margin-top: 24px;
}
.m-t-36 {
  margin-top: 36px;
}
.m-t-48 {
  margin-top: 48px;
}
.m-t-60 {
  margin-top: 60px;
}

.m-x-12 {
  margin-left: 12px;
  margin-right: 12px;
}
.m-x-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

@media (max-width: 576px) {
  .d-down-none {
    display: none;
  }
}
